USE [master]
GO
/****** Object:  Database [LoginDemo]    Script Date: 07-May-23 9:00:03 PM ******/
CREATE DATABASE [LoginDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoginDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LoginDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LoginDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LoginDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoginDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoginDemo]
GO
/****** Object:  Table [dbo].[LoginDemo]    Script Date: 07-May-23 9:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginDemo](
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[LoginDemo] ([username], [password]) VALUES (N'Admin', N'admin123')
GO
USE [master]
GO
